{
    "extends" : ["eslint:recommended"],
    "plugins" : [],
    "excludes" : ["*/node_modules/*"],
    "globals" : {
    },
    "env" :{
        "node": true
    },
    fix: true,
    "rules" : {
        // possible errors
        "no-unused-vars" : 1, // 1,
        "no-unsafe-finally" : 2,
        "valid-jsdoc" : ["error", {"requireReturn" : false}],

        // best practices
        "complexity" : 2,
        "curly" : 2,
        "default-case" : 2,
        "dot-notation" : ["error", { "allowPattern" : "(class|global)" }],
        "eqeqeq" : 2,
        "guard-for-in" : 2,
        "no-alert" : 2,
        "no-caller" : 2,
        "no-empty-function" : 1,
        "no-eval" : 2,
        "no-floating-decimal" : 2,
        "no-implicit-coercion" : 2,
        "no-implicit-globals" : 2,
        "no-implied-eval" : 2,
        "no-iterator" : 2,
        "no-labels" : 2,
        "no-lone-blocks" : 2,
        "no-loop-func" : 2,
        // "no-magic-numbers" : 1,
        "no-multi-spaces" : 1,
        "no-multi-str" : 2,
        "no-native-reassign" : 2,
        "no-new" : 2,
        "no-new-func" : 2,
        "no-octal-escape" : 2,
        "no-param-reassign" : 1,
        "no-proto" : 2,
        "no-return-assign" : 2,
        "no-script-url" : 2,
        "no-self-compare" : 2,
        "no-sequences" : 2,
        "no-throw-literal" : 2,
        "no-unmodified-loop-condition" : 2,
        "no-useless-call" : 2,
        "no-useless-concat" : 2,
        "no-useless-escape" : 2,
        "no-void" : 2,
        // "no-warning-comments" : 2
        "no-with" : 2,
        "radix" : 2,
        "wrap-iife" : 2,
        "yoda" : 1,

        // strict mode
        "strict" : [2, "function"],

        // variables
        "no-catch-shadow" : 2,
        "no-label-var" : 2,
        "no-restricted-globals" : 2,
        "no-shadow" : 2,
        "no-shadow-restricted-names" : 2,
        "no-undef-init" : 2,
        "no-use-before-define" : ["warn", { "functions" : false}],

        // stylistic issues
        "array-bracket-spacing" : 1,
        "block-spacing" : 1,
        "brace-style" : 1,
        "camelcase" : 1,
        "comma-dangle" : ["warn", "never"],
        "comma-spacing" : 1,
        "comma-style" : 1,
        "computed-property-spacing" : 1,
        "eol-last" : 1,
        "indent" : 1,
        "key-spacing" :  ["warn", { "beforeColon" : true, "afterColon" : true, "mode" : "strict"}],
        "keyword-spacing" : 1,
        // "linebreak-style" :  ["error", "windows"],
        "max-depth" : 1,
        "max-len" : ["warn", { "code" : 110, "tabWidth" : 4, "ignorePattern" : ".*<.*>.*"}],
        "max-lines" : ["warn", { "max" : 500, "skipBlankLines" : true, "skipComments" : true}],
        "max-nested-callbacks" : 1,
        // "max-statements" : ["error", 20, { "ignoreTopLevelFunctions" : true }], "ignoreTopLevelFunctions" : true // does not work
        "max-statements-per-line" : 1,
        "new-cap" : 1,
        "new-parens" : 1,
        "newline-after-var" : 1,
        "newline-before-return" : 1,
        "newline-per-chained-call" : 1,
        "no-array-constructor" : 1,
        "no-bitwise" : 1,
        "no-continue" : 1,
        // "no-inline-comments" : 1,  // useful?
        "no-lonely-if" : 1,
        "no-mixed-operators" : 1,
        "no-multiple-empty-lines" : 1,
        "no-negated-condition" : 1,
        "no-nested-ternary" : 1,
        "no-new-object" : 1,
        "no-plusplus" : 1,
        "no-spaced-func" : 1,
        "no-trailing-spaces" : 1,
        "no-unneeded-ternary" : 1,
        "no-whitespace-before-property" : 1,
        // "object-curly-newline" : 1,
        "object-curly-spacing" : 1,
        "object-property-newline" : 1,
        "one-var" : 1,
        "one-var-declaration-per-line" : 1,
        "operator-assignment" : 1,
        // "quote-props" : 1,
        "quotes" : ["warn", "single", { "avoidEscape" : true}],
        // "require-jsdoc" : 1,
        "semi" : 1,
        "semi-spacing" : 1,
        // "sort-vars" : 1,
        "space-before-blocks" : 1,
        "space-before-function-paren" : ["warn", {"named" :"never", "anonymous" :"never"}],
        "space-in-parens" : 1,
        "space-unary-ops" : 1,
        "spaced-comment" : 1,
        "unicode-bom" : 1
    },
    "parserOptions": {
        "ecmaVersion" : 6,
        "sourceType" : "script",
        "ecmaFeatures" : {
          "impliedStrict ": false
        }
    }
}
